
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

.column-actions{
  text-align: right;
}
table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}
a.text-success{
  color: #a29b9b;
  cursor: default;
}